body,
html {
  margin: 0;
  padding: 0;
}
#banner {
  background-image: url(/assets/backgrounds/h_img.jpg);
  background-size: cover;
  height: 105vh;
  max-width: 100%;
}
#logo {
  display: block;
  margin: 0 auto;
  padding-top: 250px;
}
#welcome {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 30px;
}
#dlstudio {
  font-size: 48px;
  color: white;
  text-align: center;
  padding-top: 25px;
}
#slogan {
  font-size: 13px;
  color: white;
  text-align: center;
  margin-top: 0px auto;
  padding-top: 10px;
}
#click {
  display: block;
  margin: 0 auto;
  padding-top: 158px;
} 