body,
html {
  margin: 0;
  padding: 0;
}
#banner {
  background-image: url(/assets/backgrounds/h_img.jpg);
  background-size: cover;
  height: 105vh;
  max-width: 100%;
}
#logo {
  display: block;
  margin: 0 auto;
  padding-top: 250px;
}
#welcome {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 30px;
}
#dlstudio {
  font-size: 48px;
  color: white;
  text-align: center;
  padding-top: 25px;
}
#slogan {
  font-size: 13px;
  color: white;
  text-align: center;
  margin-top: 0px auto;
  padding-top: 10px;
}
#click {
  display: block;
  margin: 0 auto;
  padding-top: 158px;
}
#about-us {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.row {
  margin: 0;
}
#office {
  background-image: url(/assets/backgrounds/s_image.jpg);
  background-size: cover;
  width: auto;
  height: 53vh;
}
#services {
  text-align: center;
  color: white;
  padding-top: 125px;
}
h2 {
  font-size: 30px;
  text-align: center;
}
#what-we-do {
  padding-top: 40px;
}
#graphics {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
}
.description {
  display: none;
}
.work {
  width: 250px;
  height: 220px;
}
.portfolio-one {
  text-align: center;
  margin: 20px 0 20px 0;
}
.portfolio-two {
  margin: 30px 0 50px 0;
  text-align: center;
}
